<div class="container" @flyIn>
    <h4 searchselect>工单查询</h4>
    <form class="select" id="form">
        <div class="input-group gdStatus">
            <label for="orderStatus" class="input-group-addon">工单状态</label>
            <div class="form-control">
                <div class="form-check-box">
                    <label>
                        <input type="checkbox" name="orderStatus" [(ngModel)]="checkBox[0]" value="1">待派工
                    </label>
                </div>
                <div class="form-check-box">
                    <label>
                        <input type="checkbox" name="orderStatus" [(ngModel)]="checkBox[1]" value="2">待开工（已指派）
                    </label>
                </div>
                <div class="form-check-box">
                    <label>
                        <input type="checkbox" name="orderStatus" [(ngModel)]="checkBox[2]" value="3">待完工（已开工）
                    </label>
                </div>
                <div class="form-check-box">
                    <label>
                        <input type="checkbox" name="orderStatus" [(ngModel)]="checkBox[3]" value="4">待验收（已完工）
                    </label>
                </div>
                <div class="form-check-box">
                    <label>
                        <input type="checkbox" name="orderStatus" [(ngModel)]="checkBox[4]" value="5">待结算（已验收）
                    </label>
                </div>
                <div class="form-check-box">
                    <label>
                        <input type="checkbox" name="orderStatus" [(ngModel)]="checkBox[5]" value="6">待收银（已结算）
                    </label>
                </div>
                <div class="form-check-box">
                    <label>
                        <input type="checkbox" name="orderStatus" [(ngModel)]="checkBox[6]" value="7">已收银
                    </label>
                </div>
            </div>
        </div>
        <div class="form-inline" [ngClass]="{'form-inline-dateError':notSubmit}">
            <div class="input-group">
                <label for="carNo" class="input-group-addon">车牌号</label>
                <input class="form-control" maxlength="12" name="carNo" id="" type="text" [(ngModel)]="searchParams.carNo">
            </div>
            <div class="input-group">
                <label for="name" class="input-group-addon">车主</label>
                <input class="form-control" maxlength="15" name="name" id="name" type="text" [(ngModel)]="searchParams.name">
            </div>
            <div class="input-group">
                <label for="repairName" class="input-group-addon">送修人</label>
                <input class="form-control" maxlength="15" name="repairName" id="repairName" type="text" [(ngModel)]="searchParams.repairName">
            </div>
            <div class="input-group">
                <label for="repairMobile" class="input-group-addon">送修人电话</label>
                <input class="form-control" maxlength="11" name="repairMobile" id="repairMobile" type="text" [(ngModel)]="searchParams.repairMobile" onkeypress="return event.keyCode>=48&&event.keyCode<=57">
            </div>
            <div class="input-group">
                <label for="orderNo" class="input-group-addon">工单号</label>
                <input class="form-control" maxlength="25" name="orderNo" id="orderNo" type="text" [(ngModel)]="searchParams.orderNo">
            </div>
            <div [collapse]="isCollapsed" class="input-group card card-block card-header">
                <label for="brandId" class="input-group-addon">品牌</label>
                <input class="form-control" maxlength="10" name="brandId" id="brandId" type="text" [(ngModel)]="searchParams.brandId">
            </div>
            <div [collapse]="isCollapsed" class="input-group card card-block card-header">
                <label for="carSeriesId" class="input-group-addon">车系</label>
                <input class="form-control" maxlength="10" name="carSeriesId" id="carSeriesId" type="text" [(ngModel)]="searchParams.carSeriesId">
            </div>
            <div [collapse]="isCollapsed" class="input-group card card-block card-header">
                <label for="carModelId" class="input-group-addon">车型</label>
                <input class="form-control" maxlength="20" name="carModelId" id="carModelId" type="text" [(ngModel)]="searchParams.carModelId">
            </div>
            <div [collapse]="isCollapsed" class="input-group card card-block card-header">
                <label for="serviceName" class="input-group-addon">服务顾问</label>
                <input class="form-control" maxlength="15" name="serviceName" id="serviceName" type="text" [(ngModel)]="searchParams.serviceName">
            </div>
            <div [collapse]="isCollapsed" class="input-group card card-block card-header">
                <label for="repairType" class="input-group-addon">维修类型</label>
                <select class="form-control" name="repairType" id="repairType" [(ngModel)]="searchParams.repairType">
                    <option value="" class="selectDefaultOption"></option>
                    <option value="1">一般维修</option>
                    <option value="2">定期保养</option>
                    <option value="3">保险维修</option>
                    <option value="4">事故维修</option>
                    <option value="5">维修索赔</option>
                    <option value="6">出厂返修</option>
                    <option value="7">内部返修</option>
                </select>
            </div>
            <div [collapse]="isCollapsed" class="input-group dateError card card-block card-header">
                <label for="outFactoryBeginTime" class="input-group-addon">出厂时间</label>
                <div>
                    <input class="form-control" name="outFactoryBeginTime" id="outFactoryBeginTime" type="text" [(ngModel)]="searchParams.outFactoryBeginTime" ngui-datetime-picker [close-on-select]="false" max-date="maxDate" (valueChanged)="timeValueChanged('outFactory')">
                </div>
                <label for="outFactoryEndTime" class="input-group-addon">-</label>
                <div>
                    <input class="form-control" name="outFactoryEndTime" id="outFactoryEndTime" type="text" [(ngModel)]="searchParams.outFactoryEndTime" ngui-datetime-picker [close-on-select]="false" max-date="maxDate" (valueChanged)="timeValueChanged('outFactory')">
                </div>
                <div class="formInfo input-group" *ngIf="outFactoryTimeError">
                    无效的出厂时间，开始时间要小于结束时间
                </div>
            </div>
            <div [collapse]="isCollapsed" class="input-group dateError card card-block card-header">
                <label for="factoryBeginTime" class="input-group-addon">进厂时间</label>
                <div>
                    <input class="form-control" name="factoryBeginTime" id="factoryBeginTime" type="text" [(ngModel)]="searchParams.factoryBeginTime" ngui-datetime-picker [close-on-select]="false" max-date="maxDate" (valueChanged)="timeValueChanged('factory')">
                </div>
                <label for="factoryEndTime" class="input-group-addon">-</label>
                <div>
                    <input class="form-control" name="factoryEndTime" id="factoryEndTime" type="text" [(ngModel)]="searchParams.factoryEndTime" ngui-datetime-picker [close-on-select]="false" max-date="maxDate" (valueChanged)="timeValueChanged('factory')">
                </div>
                <div class="formInfo input-group" *ngIf="factoryTimeError">
                    无效的进厂时间，开始时间要小于结束时间
                </div>
            </div>
            <div class="input-group">
                <button type="button" class="btn btn-primary" [disabled]="notSubmit" (click)="loadOrders()">查询</button>
                <button type="button" class="btn btn-warning" (click)="cancelLoadOrders()">清空</button>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-spinner fa-fw fa-spin fa-none-size d-none" [hidden]="idExportLoad"></i> 导出
                </button>
            </div>
        </div>
        <div class="advanceFilter" (click)="isCollapsed = !isCollapsed">
            <a>
                高级筛选
                <i class="fa fa-angle-double-up" [hidden]="isCollapsed"></i>
                <i class="fa fa-angle-double-down" [hidden]="!isCollapsed"></i>
            </a>
        </div>
    </form>
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>操作</th>
                    <th>状态</th>
                    <th>车牌号</th>
                    <th>工单号</th>
                    <th>维修类型</th>
                    <th>进厂时间</th>
                    <th>预计交车时间</th>
                    <th>超时</th>
                    <th>车型</th>
                    <th>VIN</th>
                    <th>送修人</th>
                    <th>送修人电话</th>
                    <th>维修技师</th>
                    <th>出厂时间</th>
                    <th>服务顾问</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderList; let i = index">
                    <td>
                        <button class="btn btn-sm btn-info" type="button" (click)="detail.show();detailOrder(item.orderId, i)">
                            <i class="fa fa-spinner fa-fw fa-spin fa-none-size d-none" [hidden]="detailLoad"></i> 详情
                        </button>
                    </td>
                    <td [ngSwitch]="item.orderStatus">
                        <template [ngSwitchCase]="0">挂单</template>
                        <template [ngSwitchCase]="1">待派工</template>
                        <template [ngSwitchCase]="2">待开工（已指派）</template>
                        <template [ngSwitchCase]="3">待完工（已开工）</template>
                        <template [ngSwitchCase]="4">待验收（已完工）</template>
                        <template [ngSwitchCase]="5">待结算（已验收）</template>
                        <template [ngSwitchCase]="6">待收银（已结算）</template>
                        <template [ngSwitchCase]="7">已收银</template>
                        <template [ngSwitchCase]="8">作废</template>
                    </td>
                    <td>{{item.carNo}}</td>
                    <td>{{item.orderNo}}</td>
                    <td [ngSwitch]="item.repairType">
                        <template [ngSwitchCase]="1">一般维修</template>
                        <template [ngSwitchCase]="2">定期保养</template>
                        <template [ngSwitchCase]="3">保险维修</template>
                        <template [ngSwitchCase]="4">事故维修</template>
                        <template [ngSwitchCase]="5">维修索赔</template>
                        <template [ngSwitchCase]="6">出厂返修</template>
                        <template [ngSwitchCase]="7">内部返修</template>
                    </td>
                    <td>{{item.createTime}}</td>
                    <td>{{item.estimatedDeliveryTime }}</td>
                    <td>{{item.overtime}}</td>
                    <td>{{item.carModelName}}</td>
                    <td>{{item.vin}}</td>
                    <td>{{item.repairName}}</td>
                    <td>{{item.repairMobile}}</td>
                    <td>{{item.technicianName}}</td>
                    <td>{{item.factoryTime}}</td>
                    <td>{{item.serviceName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group paginate">
        <label>
            每页显示
            <select class="form-control select" (change)="pageChanged($event,'SELECT')" [disabled]="isSelect">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </label>
        <pagination [totalItems]="totalItems" [(ngModel)]="index" [maxSize]="10" [itemsPerPage]="searchParams.pageSize" [boundaryLinks]="true" previousText="上一页" nextText="下一页" firstText="首页" lastText="尾页" (pageChanged)="pageChanged($event)"></pagination>
        <label class="contorl-label">
            跳转到<input type="number" class="form-control" min="1" [max]="maxPageSize" [(ngModel)]="choosePage">页
        </label>
        <button class="btn btn-default" (click)="pageChanged($event,'BUTTON')">GO</button>
    </div>
</div>

<div bsModal #detail="bs-modal" class="modal fade userAndCustomer" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">维修工单详情</h4>
                <button type="button" class="close pull-right" (click)="detail.hide();resetPartsAndPreview()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-order-info table-bordered">
                        <tbody>
                            <tr>
                                <td class="fixed-width">车牌号</td>
                                <td>{{detailOrderInfo.carNo}}</td>
                                <td class="fixed-width">车型</td>
                                <td>{{detailOrderInfo.carModelName}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">VIN</td>
                                <td>{{detailOrderInfo.vin}}</td>
                                <td class="fixed-width">送修人</td>
                                <td>{{detailOrderInfo.repairName}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">送修人手机</td>
                                <td>{{detailOrderInfo.repairMobile}}</td>
                                <td class="fixed-width">工单号</td>
                                <td>{{detailOrderInfo.orderNo}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">车主</td>
                                <td>{{detailOrderInfo.name}}</td>
                                <td class="fixed-width">车主电话</td>
                                <td>{{detailOrderInfo.mobile}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">购车日期</td>
                                <td>{{detailOrderInfo.buyDate}}</td>
                                <td class="fixed-width">验车日期</td>
                                <td>{{detailOrderInfo.vehicleDate}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">预计交车时间</td>
                                <td>{{detailOrderInfo.estimatedDeliveryTime}}</td>
                                <td class="fixed-width">维修技师</td>
                                <td>{{technicianName}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">服务顾问</td>
                                <td>{{detailOrderInfo.servicerName}}</td>
                                <td class="fixed-width">介绍人</td>
                                <td>{{detailOrderInfo.recommender}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">介绍人电话</td>
                                <td>{{detailOrderInfo.recommenderMobile}}</td>
                                <td class="fixed-width">维修类型</td>
                                <td [ngSwitch]="detailOrderInfo.repairType">
                                    <template [ngSwitchCase]="1">一般维修</template>
                                    <template [ngSwitchCase]="2">定期保养</template>
                                    <template [ngSwitchCase]="3">保险维修</template>
                                    <template [ngSwitchCase]="4">事故维修</template>
                                    <template [ngSwitchCase]="5">维修索赔</template>
                                    <template [ngSwitchCase]="6">出厂返修</template>
                                    <template [ngSwitchCase]="7">内部返修</template>
                                </td>
                            </tr>
                            <tr>
                                <td class="fixed-width">超时</td>
                                <td>{{detailOrderInfo.overtime}}</td>
                                <td class="fixed-width">结算方</td>
                                <td>{{detailOrderInfo.acountPerson}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">结算时间</td>
                                <td>{{detailOrderInfo.settlementTime}}</td>
                                <td class="fixed-width">进厂时间</td>
                                <td>{{detailOrderInfo.createTime}}</td>
                            </tr>
                            <tr>
                                <td class="fixed-width">进厂里程(KM)</td>
                                <td>{{detailOrderInfo.mileage}}</td>
                                <td class="fixed-width">出厂里程(KM)</td>
                                <td>{{detailOrderInfo.factoryMileAge}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <tabset class="tabCard">
                        <tab>
                            <template tabHeading>
                                <i aria-hidden="true" class="fa fa-clone"></i>维修项目
                            </template>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>维修项目名称</th>
                                        <th>维修工时</th>
                                        <th>工时单价(元)</th>
                                        <th>折扣率(%)</th>
                                        <th>金额(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of detailOrderInfo.repairOrderInfoDtos">
                                        <td>
                                            {{item.projectName}}
                                            <span class="accept-stamp" *ngIf="item.isPass"></span>
                                            <label class="append-stamp" *ngIf="item.isExtra">增项</label>
                                        </td>
                                        <td>{{item.repairHour}}</td>
                                        <td class="text-right">{{item.hourPrice}}</td>
                                        <td class="text-right">{{item.discount}}</td>
                                        <td class="text-right">{{item.totalCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab *ngIf="isParts">
                            <template tabHeading>
                                <i aria-hidden="true" class="fa fa-wrench"></i>维修配件
                            </template>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>维修工项</th>
                                        <th>配件名称</th>
                                        <th>品牌</th>
                                        <th>规格型号</th>
                                        <th>数量</th>
                                        <th>单价(元)</th>
                                        <th>金额(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of partsList">
                                        <td>{{item.repairProjetName}}</td>
                                        <td>{{item.partName}}</td>
                                        <td>{{item.partsBrand}}</td>
                                        <td>{{item.partsSpec}}</td>
                                        <td>{{item.num}}</td>
                                        <td class="text-right">{{item.price}}</td>
                                        <td class="text-right">{{item.totoal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab *ngIf="isPreview">
                            <template tabHeading>
                                <i aria-hidden="true" class="fa fa fa-clipboard"></i> 预检单
                            </template>
                            <table class="table table-bordered">
                                <caption>基本信息</caption>
                                <tbody>
                                    <tr>
                                        <td>预检类型</td>
                                        <td [ngSwitch]="previewList.preview.repairType">
                                            <template [ngSwitchCase]="1">一般维修</template>
                                            <template [ngSwitchCase]="2">定期保养</template>
                                            <template [ngSwitchCase]="3">保险维修</template>
                                            <template [ngSwitchCase]="4">事故维修</template>
                                            <template [ngSwitchCase]="5">维修索赔</template>
                                            <template [ngSwitchCase]="6">出厂返修</template>
                                            <template [ngSwitchCase]="7">内部返修</template>
                                        </td>
                                        <td>油量</td>
                                        <td>
                                            {{previewList.preview.remainingOil}}
                                            <span class="text-right">%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>故障描述</td>
                                        <td colspan="3">{{previewList.preview.faultDesc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <caption>检查项</caption>
                                <thead>
                                    <tr>
                                        <th>项目名称</th>
                                        <th>检查项（项）</th>
                                        <th>异常项</th>
                                        <th>其他备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>随车附件</td>
                                        <td>
                                            <span>检查项：{{previewList.preview.partsTestNum}}</span><br>
                                            <span>合格项：{{previewList.preview.partsTestPassNum}}</span><br>
                                            <span class="text-danger">异常项：{{previewList.preview.partsTestExcNum}}</span>
                                        </td>
                                        <td *ngIf="previewList.preview.partsExc">{{previewList.preview.partsExc}}</td>
                                        <td *ngIf="!previewList.preview.partsExc">暂无</td>
                                        <td *ngIf="previewList.preview.partsRemark">{{previewList.preview.partsRemark}}</td>
                                        <td *ngIf="!previewList.preview.partsRemark">暂无</td>
                                    </tr>
                                    <tr>
                                        <td>仪表盘</td>
                                        <td>
                                            <span>检查项：{{previewList.preview.dashboardNum}}</span><br>
                                            <span>合格项：{{previewList.preview.dashboardPassNum}}</span><br>
                                            <span class="text-danger">异常项：{{previewList.preview.dashboardExcNum}}</span>
                                        </td>
                                        <td *ngIf="previewList.preview.dashboardExc">{{previewList.preview.dashboardExc}}</td>
                                        <td *ngIf="!previewList.preview.dashboardExc">暂无</td>
                                        <td *ngIf="previewList.preview.dashboardRemark">{{previewList.preview.dashboardRemark}}</td>
                                        <td *ngIf="!previewList.preview.dashboardRemark">暂无</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <caption>车辆缺陷标识
                                    <!-- <div class="pull-right" style="background:white">
                                        <span class="trouble-icon mr-1">
                                            <img alt="划痕" class="thumbnail img-fluid rounded" src="../../../../../assets/images/huahen.png"> 
                                        </span>划痕
                                        <span class="trouble-icon ml-3 mr-1">
                                            <img alt="变形" class="thumbnail img-fluid rounded" src="../../../../../assets/images/bianxing.png"> 
                                        </span>变形
                                        <span class="trouble-icon ml-3 mr-1">
                                            <img alt="变形" class="thumbnail img-fluid rounded" src="../../../../../assets/images/posun.png"> 
                                        </span>破损
                                    </div> -->
                                </caption>
                                <thead>
                                    <tr>
                                        <th>外观</th>
                                        <th>内饰</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="{{previewList.preview.surfacePicUrl}}" alt=""></td>
                                        <td><img src="{{previewList.preview.interiorPicUrl}}" alt=""></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <caption>照片</caption>
                                <ul class="previewPic">
                                    <li *ngIf="previewList.previewPic">暂无</li>
                                    <li *ngFor="let item of previewList.previewPics">
                                        <img src="" alt="">
                                    </li>
                                </ul>
                            </table>
                            <div class="clearfix customerUrlBox">
                                <div class="pull-left text-left">
                                    <p>
                                        <span>预检员：{{previewList.preview.previewerName}}</span>
                                        <span>日期：{{previewList.preview.createTime }}</span>
                                    </p>
                                </div>
                                <div class="pull-right text-left">
                                    <p>
                                        <span class="mr-3">客户签名：<img height="25" width="100" src="{{previewList.preview.customerSignUrl}}" alt="" ></span>
                                        <span>日期：{{previewList.preview.createTime }}</span>
                                    </p>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <div class="card">
                        <span>工时费：<span>¥ {{price.hourPrice || 0}}</span></span>
                        <span>材料费：<span>¥ {{price.materialsPrice || 0}}</span></span>
                        <span>优惠：<span>¥ {{price.discountPrice || 0}}</span></span>
                        <span class="pull-right">应收金额：<span>¥ {{price.amountPrice || 0}}</span></span>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" (click)="detail.hide();orderPrint()">打印</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="printgoods">
    <div class="printHeader">
        <img src="../../../../../assets/img/login_logo.png" alt="">
        <span class="printTitle">维修工单</span>
    </div>
    <div class="printContnet">
        <ul>
            <li>门店名称：</li>
            <li class="pull-right">门店地址：</li><br>
            <li>电话：</li>
            <li class="pull-right">24小时救援电话：</li>
        </ul>
        <table class="table basicInfo">
            <caption>托修方</caption>
            <tr>
                <td class="basicInfo_title">工单号</td>
                <td>{{detailOrderInfo.orderNo}}</td>
                <td class="basicInfo_title">车主</td>
                <td>{{detailOrderInfo.name}}</td>
                <td class="basicInfo_title">车牌号</td>
                <td>{{detailOrderInfo.carNo}}</td>
            </tr>
            <tr>
                <td class="basicInfo_title">送修人</td>
                <td>{{detailOrderInfo.repairName}}</td>
                <td class="basicInfo_title">送修人手机</td>
                <td>{{detailOrderInfo.repairMobile}}</td>
                <td class="basicInfo_title">购车日期</td>
                <td>{{detailOrderInfo.buyDate}}</td>
            </tr>
            <tr>
                <td class="basicInfo_title">VIN</td>
                <td>{{detailOrderInfo.vin}}</td>
                <td class="basicInfo_title">车型</td>
                <td colspan="3">{{detailOrderInfo.carModelName}}</td>
            </tr>
        </table>
        <table class="table basicInfo">
            <caption>承修方</caption>
            <tr>
                <td class="basicInfo_title">维修类型</td>
                <td [ngSwitch]="detailOrderInfo.repairType">
                    <template [ngSwitchCase]="1">一般维修</template>
                    <template [ngSwitchCase]="2">定期保养</template>
                    <template [ngSwitchCase]="3">保险维修</template>
                    <template [ngSwitchCase]="4">事故维修</template>
                    <template [ngSwitchCase]="5">维修索赔</template>
                    <template [ngSwitchCase]="6">出厂返修</template>
                    <template [ngSwitchCase]="7">内部返修</template>
                </td>
                <td class="basicInfo_title">服务顾问</td>
                <td>{{detailOrderInfo.serviceName}}</td>
                <td class="basicInfo_title">维修技师</td>
                <td>{{technicianName}}</td>
            </tr>
            <tr>
                <td class="basicInfo_title">进厂时间</td>
                <td>{{detailOrderInfo.createTime}}</td>
                <td class="basicInfo_title">进厂里程</td>
                <td>{{detailOrderInfo.mileage}}</td>
                <td class="basicInfo_title">预计交车时间</td>
                <td>{{detailOrderInfo.estimatedDeliveryTime}}</td>
            </tr>
        </table>
        <table class="table project">
            <caption>维修项目</caption>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>维修项目名称</th>
                    <th>维修工时</th>
                    <th>工时单价（元）</th>
                    <th>折扣率（%）</th>
                    <th>金额（元）</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of detailOrderInfo.repairOrderInfoDtos;let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{item.projectName}}</td>
                    <td>{{item.repairHour}}</td>
                    <td class="text-right">{{item.hourPrice}}</td>
                    <td class="text-right">{{item.discount}}</td>
                    <td class="text-right">{{item.totalCount}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>小计：</td>
                    <td colspan="5">
                        <span>工时合计：{{price.hourCost || 0}}</span>
                        <span>工时费：¥ {{price.hourPrice || 0}}</span>
                        <span>优惠：¥ {{price.discountPrice || 0}}</span>
                        <span>应收金额：¥ {{price.amountPrice - price.materialsPrice || 0}}</span>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table class="table" *ngIf="isParts">
            <caption>维修配件</caption>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>维修工项</th>
                    <th>配件名称</th>
                    <th>品牌</th>
                    <th>规格型号</th>
                    <th>数量</th>
                    <th>单价（元）</th>
                    <th>金额（元）</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of partsList; let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{item.repairProjetName}}</td>
                    <td>{{item.partName}}</td>
                    <td>{{item.partsBrand}}</td>
                    <td>{{item.partsSpec}}</td>
                    <td>{{item.num}}</td>
                    <td class="text-right">{{item.price}}</td>
                    <td class="text-right">{{item.totoal}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>小计：</td>
                    <td colspan="5"><i>￥ </i>{{price.materialsPrice || 0}}</td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-bordered" *ngIf="isPreview">
            <caption>预检信息</caption>
            <tbody>
                <tr>
                    <td>预检类型</td>
                    <td [ngSwitch]="previewList.preview.repairType">
                        <template [ngSwitchCase]="1">一般维修</template>
                        <template [ngSwitchCase]="2">定期保养</template>
                        <template [ngSwitchCase]="3">保险维修</template>
                        <template [ngSwitchCase]="4">事故维修</template>
                        <template [ngSwitchCase]="5">维修索赔</template>
                        <template [ngSwitchCase]="6">出厂返修</template>
                        <template [ngSwitchCase]="7">内部返修</template>
                    </td>
                    <td>油量</td>
                    <td>
                        {{previewList.preview.remainingOil}}
                        <span class="text-right" *ngIf="previewList.preview.remainingOil">%</span>
                    </td>
                </tr>
                <tr>
                    <td>故障描述</td>
                    <td colspan="3">{{previewList.preview.faultDesc}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" *ngIf="isPreview">
            <caption>检查项</caption>
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>检查项（项）</th>
                    <th>异常项</th>
                    <th>其他备注</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>随车附件</td>
                    <td>
                        <span>检查项：{{previewList.preview.partsTestNum}}</span><br>
                        <span>合格项：{{previewList.preview.partsTestPassNum}}</span><br>
                        <span class="text-danger">异常项：{{previewList.preview.partsTestExcNum}}</span>
                    </td>
                    <td *ngIf="previewList.preview.partsExc">{{previewList.preview.partsExc}}</td>
                    <td *ngIf="!previewList.preview.partsExc">暂无</td>
                    <td *ngIf="previewList.preview.partsRemark">{{previewList.preview.partsRemark}}</td>
                    <td *ngIf="!previewList.preview.partsRemark">暂无</td>
                </tr>
                <tr>
                    <td>仪表盘</td>
                    <td>
                        <span>检查项：{{previewList.preview.dashboardNum}}</span><br>
                        <span>合格项：{{previewList.preview.dashboardPassNum}}</span><br>
                        <span class="text-danger">异常项：{{previewList.preview.dashboardExcNum}}</span>
                    </td>
                    <td *ngIf="previewList.preview.dashboardExc">{{previewList.preview.dashboardExc}}</td>
                    <td *ngIf="!previewList.preview.dashboardExc">暂无</td>
                    <td *ngIf="previewList.preview.dashboardRemark">{{previewList.preview.dashboardRemark}}</td>
                    <td *ngIf="!previewList.preview.dashboardRemark">暂无</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="printFooter">
        <span>操作人：{{searchParams.serviceName}}</span>
        <span>打印时间：{{printDate}}</span>
        <span class="customer">客户签名：</span>
        <span class="customer">日期：</span>
    </div>
</div>