// component css goes here
.user{
    // border: 1px solid red;
    // background-color: rgba(0,0,0, 0.3);
    background-image: url("../../assets/img/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover
    
}