// component css goes here
.inter-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 98%;
    padding-left: 25px;
    .header {
        background: #fff;
        flex: 1;
        .cursor-pointer {
            cursor: pointer;
            color: #eb5267;
        }
        .title {
            float: left;
            line-height: 40px;
        }
        .list-info {
            float: right; // display: inline-block;
            // width: 0;
            // height: 0;
            margin-left: .3em;
            color: #1c84c6;
            font-size: 14px;
            position: relative;
            a {
                color: #337ab7 !important;
            }
            .dropdown-menu {
                position: absolute;
                top: 22px;
                left: -250px;
                width: 380px;
                table {
                    tbody {
                        tr {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
    .content {
        flex: 1 1 auto;
        -moz-box-flex: 1;
        padding: 1.25rem 0;
        border: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
        .form-inline {
            // margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            .input-group-addon {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                background: #f3f3f4;
                border-color: #eef0f1;
                color: #727171;
                padding: .5rem .75rem;
                font-size: 1.5rem;
            }
            .btn {
                cursor: pointer;
                padding: 9px 30px;
                font-size: 1.5rem;
                font-weight: 500;
                border-radius: 5px;
            }
            select {
                font-size: 1.5rem;
                font-weight: 400;
            }
            .btn-primary {
                background: #27b394 !important;
                border: 0;
                color: #fff;
            }
        }
        .table-caption {
            width: 106px;
            height: 35px;
            line-height: 35px;
            border: 1px solid #ddd;
            color: #000;
            font-size: 1.5rem;
            text-align: center;
            font-weight: 400;
            margin-top: 20px;
        }
        .table-container {
            position: relative;
            overflow: auto;
            max-height: 500px;
            width: 100%;
            max-width: 100%;
            border: 1px solid rgb(236, 238, 239);
            table {
                border-collapse: collapse;
                background: transparent;
                width: 110% !important;
                min-width: 110% !important;
            }
            .table {
                margin: 0;
                border: 0 !important;
                width: 100%;
                max-width: 100%;
                text-align: center;
                th {
                    background: #f3f3f4;
                    color: #727171;
                    border-color: #dcdddd;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }
    .footer {
        padding: 20px 0;
        .btn {
            padding: 9px 30px;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            border-radius: .25rem;
        }
        .btn:disabled {
            background-color: #dcdddd !important;
            opacity: 1;
            border-color: #dcdddd;
            cursor: not-allowed;
        }
    }
    .newAdd {
        border: 1px solid #ddd;
        border-radius: 5px;
        position: relative;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        background: #fff;
        .card-block {
            // -moz-box-flex: 1;
            flex: 1;
            padding: 1.25rem;
            .form-group {
                position: relative;
                .form-control {
                    &:disabled {
                        background: #f7f7f8;
                    }
                }
                input {
                    border-radius: 3px;
                    font-size: 1.3rem;
                    font-weight: 450;
                    &.ng-touched.ng-invalid {
                        border: 1px solid #a94442;
                    }
                    &:focus {
                        border-color: #27b394 !important;
                    }
                }
                .errMsg {
                    color: #a94442;
                }
                .partsCodeList {
                    position: absolute;
                    z-index: 100;
                    background: #fff;
                    top: 60px;
                    left: 0;
                    .table {
                        width: 100%;
                        max-width: 500px;
                        th {
                            border: 0;
                            background: #f3f3f4;
                            white-space: nowrap;
                        }
                        td {
                            white-space: nowrap;
                            overflow: hidden;
                            background: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }
            .card {
                flex: 1;
                display: flex;
                .input-group-addon {
                    background: #fff;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
                .card-left {
                    flex: 1;
                    max-width: 50%;
                    margin: 0;
                    padding: 0 15px;
                }
                .card-right {
                    flex: 1;
                    padding: 0 15px;
                    max-width: 50%;
                }
                .hq-required {
                    &::before {
                        content: "*";
                        color: #eb5267;
                        padding-right: 2px;
                    }
                }
                .form-control-label {
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
            .card-botton {
                // -moz-box-flex: 0;
                // flex: 0 0 100%;
                max-width: 100%;
                display: block;
                padding: 0 15px;
                .form-control-label {
                    font-size: 1.5rem;
                    font-weight: 400;
                }
                .btn {
                    padding: 9px 30px;
                    font-weight: 400;
                    font-size: 1.3rem;
                    border-radius: 4px;
                }
            }
        }
    }
}

.printgoods {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .printHeader {
        line-height: 21px;
        padding: 10px; // border: 1px solid #000;
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
        .printTitle {
            position: absolute;
            top: 15px;
            right: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .printContnet {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 5px 0;
                margin-right: 10px;
            }
        }
        table {
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            thead {
                border: 1px solid #000;
                border-bottom: 0;
                th {
                    word-break: keep-all;
                    white-space: nowrap;
                    text-align: center;
                    vertical-align: middle;
                    border: 0;
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
    .printFooter {
        position: relative;
        margin-top: 100px;
        .operator {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}