// component css goes here
.work{
    width: 98%;
    padding-left: 20px;
    h4{
        border-bottom: 1px solid #eceeef;
        line-height: 40px;
    }
    .stroetable{
        width: 100%;
        min-width: 100%;
        margin-top:20px;
    }
}