// component css goes here
table{
    position: absolute;
    top: 37px;
    left: 0px;
    z-index: 55;
    background-color: #fff;
    width: auto;
    min-height: 100px !important;
    overflow-y: scroll;
    td,th{
        white-space: nowrap !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        padding: 8px 16px !important;
        text-align: center;
    }
}
.selloutcode{
    left: 80px
}