<table class="table table-bordered table-hover" *ngIf="_mainUnTable.code=='mainUntable'">
    <thead>
        <tr>
            <th>车牌号</th>
            <th>工单号</th>
            <th>车主</th>
            <th>品牌</th>
            <th>车型</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of _mainUnTableList" (click)="gobackfather(item)">
            <td>{{item.carNo}}</td>
            <td>{{item.orderNo}}</td>
            <td>{{item.customerName}}</td>
            <td>{{item.brandName}}</td>
            <td>{{item.modelName}}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover"  *ngIf="_sellNameTable.code=='sellUser'" >
    <thead>
        <tr>
            <th>车牌号</th>
            <th>工单号</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of _sellUser" (click)="gotoSell(item)">
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover selloutcode"  *ngIf="_findallselloutcode.code=='findallselloutcode'" >

    <tbody>
        <tr *ngFor="let item of findallselloutcodelist" (click)="getSellOutCode(item)">
          <td>{{item}}</td>
        </tr>
    </tbody>
</table>